In [1]:
import numpy as np
import pandas as pd
import requests

In [2]:
#weather_dir = 'I:/Weather Data/'
weather_dir = '.'

In [44]:
all_stations_df = pd.read_fwf(f'{weather_dir}/allstations.txt', header=None)
all_stations_df.columns = ['ID', 'Latitude','Longitude','Elevation','State','Name','GSNFLAG','HCNFLAG','WMOID']
all_stations_df.head()

,ID,Latitude,Longitude,Elevation,State,Name,GSNFLAG,HCNFLAG,WMOID
0,AQC00914000,-14.3167,-170.7667,408.4,AS,AASUFOU,NaN,NaN,NaN
1,AQW00061705,-14.3306,-170.7136,3.7,AS,PAGO PAGO WSO AP,NaN,GSN,91765.0
2,CAW00064757,44.2325,-79.7811,246.0,ON,EGBERT 1 W,NaN,NaN,NaN
3,CQC00914080,15.2136,145.7497,252.1,MP,CAPITOL HILL 1,NaN,NaN,NaN
4,CQC00914801,14.1717,145.2428,179.2,MP,ROTA AP,NaN,NaN,91221.0

In [46]:
daily_tmin_df = pd.read_fwf(f'{weather_dir}/dly-tmin-normal.txt', header=None)
daily_tmin_df.columns = ['STNID','MONTH'] + [i for i in range(1,32)]
daily_tmin_df = pd.melt(daily_tmin_df, id_vars = ['STNID','MONTH'], value_vars = [i for i in range(1,32)])
daily_tmin_df.columns = ['STNID','MONTH','DAY','VALUE']
daily_tmin_df = daily_tmin_df[daily_tmin_df['VALUE'] != '-8888']
daily_tmin_df['FLAG'] = daily_tmin_df['VALUE'].map(lambda x: x[-1])
daily_tmin_df['TMIN'] = daily_tmin_df['VALUE'].map(lambda x: int(x[0:-1])/10)

tmin_df = daily_tmin_df.groupby('STNID')['TMIN'].min()
tmin_df

STNID
AQW00061705    76.2
CAW00064757    10.1
CQC00914080    72.9
CQC00914801    73.2
FMC00914395    72.1
               ...
VQC00671740    71.5
VQC00671980    70.1
VQW00011624    72.2
VQW00011640    72.4
WQW00041606    73.2
Name: TMIN, Length: 7501, dtype: float64

In [45]:
daily_tmax_df = pd.read_fwf(f'{weather_dir}/dly-tmax-normal.txt', header=None)
daily_tmax_df.columns = ['STNID','MONTH'] + [i for i in range(1,32)]
daily_tmax_df = pd.melt(daily_tmax_df, id_vars = ['STNID','MONTH'], value_vars = [i for i in range(1,32)])
daily_tmax_df.columns = ['STNID','MONTH','DAY','VALUE']
daily_tmax_df = daily_tmax_df[daily_tmax_df['VALUE'] != '-8888']
daily_tmax_df['FLAG'] = daily_tmax_df['VALUE'].map(lambda x: x[-1])
daily_tmax_df['TMAX'] = daily_tmax_df['VALUE'].map(lambda x: int(x[0:-1])/10)

tmax_df = daily_tmax_df.groupby('STNID')['TMAX'].max()
tmax_df

STNID
AQW00061705    88.2
CAW00064757    79.6
CQC00914080    85.1
CQC00914801    87.4
FMC00914395    89.0
               ...
VQC00671740    88.1
VQC00671980    88.2
VQW00011624    89.4
VQW00011640    90.3
WQW00041606    89.0
Name: TMAX, Length: 7501, dtype: float64

In [47]:
days_under_32 = pd.read_fwf('ann-tmin-avgnds-lsth032.txt', header=None)
days_under_32.columns = ['STNID','VALUE']
days_under_32['FLAG'] = days_under_32['VALUE'].map(lambda x: x[-1])
days_under_32['DAYS_LT_32'] = days_under_32['VALUE'].map(lambda x: int(x[0:-1])/10)

days_under_32 = days_under_32.set_index('STNID')['DAYS_LT_32']
days_under_32

STNID
AQW00061705      0.0
CAW00064757    153.2
CQC00914080      0.0
CQC00914801      0.0
FMC00914395      0.0
               ...
VQC00671740      0.0
VQC00671980      0.0
VQW00011624      0.0
VQW00011640      0.0
WQW00041606      0.0
Name: DAYS_LT_32, Length: 7501, dtype: float64

In [48]:
days_over_80 = pd.read_fwf('ann-tmax-avgnds-grth080.txt', header=None)
days_over_80.columns = ['STNID','VALUE']
days_over_80['FLAG'] = days_over_80['VALUE'].map(lambda x: x[-1])
days_over_80['DAYS_GT_80'] = days_over_80['VALUE'].map(lambda x: int(x[0:-1])/10)

days_over_80 = days_over_80.set_index('STNID')['DAYS_GT_80']
days_over_80

STNID
AQW00061705    361.4
CAW00064757     35.2
CQC00914080    315.2
CQC00914801    361.4
FMC00914395    364.8
               ...
VQC00671740    356.9
VQC00671980    354.9
VQW00011624    362.5
VQW00011640    362.0
WQW00041606    356.6
Name: DAYS_GT_80, Length: 7501, dtype: float64

In [69]:
precip_df = pd.read_fwf(f'{weather_dir}/ann-prcp-normal.txt', header=None)
precip_df.columns = ['STNID','VALUE']
precip_df['FLAG'] = precip_df['VALUE'].map(lambda x: x[-1])
precip_df['ANN_PRECIP'] = precip_df['VALUE'].map(lambda x: int(x[0:-1])/100)

precip_df = precip_df.set_index('STNID')['ANN_PRECIP']
precip_df

STNID
AQC00914000    213.92
AQW00061705    122.63
CAW00064757     31.72
CQC00914080     83.39
CQC00914801     91.24
                ...
VQC00677600     43.84
VQC00679450     43.70
VQW00011624     38.67
VQW00011640     39.34
WQW00041606     34.46
Name: annual_precipitation, Length: 9307, dtype: float64

In [70]:
station_data_df = pd.merge(all_stations_df[['ID','Latitude','Longitude']], pd.DataFrame({'TMIN':tmin_df, 'TMAX':tmax_df,'DAYS_LT_32':days_under_32, 'DAYS_GT_80':days_over_80, 'ANN_PRECIP':precip_df}), left_on='ID', right_index=True)
station_data_df

,ID,Latitude,Longitude,TMIN,TMAX,DAYS_LT_32,DAYS_GT_80,ANN_PRECIP
0,AQC00914000,-14.3167,-170.7667,NaN,NaN,NaN,NaN,213.92
1,AQW00061705,-14.3306,-170.7136,76.2,88.2,0.0,361.4,122.63
2,CAW00064757,44.2325,-79.7811,10.1,79.6,153.2,35.2,31.72
3,CQC00914080,15.2136,145.7497,72.9,85.1,0.0,315.2,83.39
4,CQC00914801,14.1717,145.2428,73.2,87.4,0.0,361.4,91.24
5,CQC00914855,15.1189,145.7294,NaN,NaN,NaN,NaN,69.76
6,CQC00914874,15.0000,145.6333,NaN,NaN,NaN,NaN,78.68
7,FMC00914213,9.4508,138.0620,NaN,NaN,NaN,NaN,115.94
8,FMC00914325,1.0833,154.8000,NaN,NaN,NaN,NaN,128.40
9,FMC00914395,5.3544,162.9533,72.1,89.0,0.0,364.8,193.34
10,FMC00914419,5.5167,153.8167,74.8,89.3,0.0,365.0,140.00
11,FMC00914429,9.4833,138.0833,NaN,NaN,NaN,NaN,122.19
12,FMC00914446,9.6053,138.1786,75.6,88.5,0.0,362.0,111.15
13,FMC00914482,6.8456,158.3064,69.9,88.2,0.0,363.0,159.05
14,FMC00914585,9.5742,138.1108,NaN,NaN,NaN,NaN,112.30
15,FMC00914590,3.8500,155.0167,NaN,NaN,NaN,NaN,156.60
16,FMC00914705,6.9053,158.1586,NaN,NaN,NaN,NaN,214.16
17,FMC00914720,6.2167,160.7000,73.5,89.9,0.0,365.0,153.01
18,FMC00914761,7.3500,149.2000,72.9,90.4,0.0,364.9,100.64
19,FMC00914808,9.6244,138.1592,NaN,NaN,NaN,NaN,113.60
20,FMC00914831,9.5500,138.1500,74.8,87.1,0.0,360.1,113.91
21,FMC00914892,10.0333,139.8000,76.9,89.0,0.0,365.0,101.52
22,FMC00914898,5.2739,162.9742,74.8,88.2,0.0,363.9,189.72
23,FMC00914911,7.3833,143.9167,74.0,88.8,0.0,363.3,120.21
24,FMW00040308,9.4833,138.0833,77.2,88.8,0.0,364.6,120.93
25,FMW00040504,6.9667,158.2167,72.2,89.3,0.0,363.0,181.22
26,FMW00040505,7.4500,151.8333,76.1,87.0,0.0,364.2,134.54
27,GQC00914001,13.3894,144.6575,NaN,NaN,NaN,NaN,93.50
28,GQC00914025,13.5761,144.9281,75.4,86.3,0.0,355.9,91.86
29,GQC00914156,13.5200,144.8472,NaN,NaN,NaN,NaN,96.66
...,...,...,...,...,...,...,...,...
9857,USW00094973,46.0261,-91.4442,-0.9,80.0,194.4,41.0,30.13
9858,USW00094978,41.7636,-96.1778,11.7,87.4,145.2,101.9,29.53
9859,USW00094982,41.6117,-90.5808,12.2,83.8,135.7,80.4,36.03
9860,USW00094985,44.6381,-90.1875,6.1,79.7,159.8,39.5,25.93
9861,USW00094988,42.1128,-92.9175,10.3,83.9,149.3,75.8,33.74
9862,USW00094989,41.9922,-93.6217,10.3,84.2,146.9,81.4,34.67
9863,USW00094990,43.3906,-99.8422,13.8,89.3,145.5,90.6,21.59
9864,USW00094991,40.6331,-93.9019,15.1,85.4,126.9,83.9,37.47
9865,USW00094992,47.7472,-90.3444,5.7,69.0,169.4,5.1,26.65
9866,USW00094993,45.6689,-96.9914,2.8,83.5,168.3,63.9,22.33
9867,USW00094994,43.1561,-90.6775,8.4,85.0,155.1,78.6,34.91
9868,USW00094995,40.8483,-96.5650,12.6,87.9,145.1,103.0,32.16
9869,USW00094996,40.6953,-96.8542,14.3,87.1,139.6,94.5,29.25
9870,VQC00670240,17.7564,-64.8625,NaN,NaN,NaN,NaN,47.89
9871,VQC00671348,18.3453,-64.7606,65.6,89.4,0.0,319.9,NaN
9872,VQC00671740,17.7469,-64.7014,71.5,88.1,0.0,356.9,37.31
9873,VQC00671790,18.3492,-64.7136,NaN,NaN,NaN,NaN,46.72
9874,VQC00671810,17.7603,-64.6128,NaN,NaN,NaN,NaN,28.81
9875,VQC00671980,18.3347,-64.7942,70.1,88.2,0.0,354.9,43.90
9876,VQC00672551,18.3347,-64.7594,NaN,NaN,NaN,NaN,40.09
9877,VQC00672560,17.7561,-64.6494,NaN,NaN,NaN,NaN,37.26
9878,VQC00672870,17.7419,-64.6603,NaN,NaN,NaN,NaN,38.77
9879,VQC00673150,17.7500,-64.8333,NaN,NaN,NaN,NaN,48.29
9880,VQC00673677,17.7164,-64.7117,NaN,NaN,NaN,NaN,38.01
9881,VQC00674900,17.7706,-64.7553,NaN,NaN,NaN,NaN,44.16
9882,VQC00677600,18.3236,-64.8542,NaN,NaN,NaN,NaN,43.84
9883,VQC00679450,18.3503,-64.9167,NaN,NaN,NaN,NaN,43.70
9884,VQW00011624,17.7028,-64.8056,72.2,89.4,0.0,362.5,38.67
9885,VQW00011640,18.3331,-64.9667,72.4,90.3,0.0,362.0,39.34
9886,WQW00041606,19.2833,166.6500,73.2,89.0,0.0,356.6,34.46

In [61]:
lat_longs = pd.read_csv('lat_longs_to_fips.csv', dtype={'FIPS_COUNTY':str}).drop_duplicates()

In [63]:
pd.merge(station_data_df, lat_longs, on=['Latitude','Longitude'])

,ID,Latitude,Longitude,TMIN,TMAX,DAYS_LT_32,DAYS_GT_80,FIPS_COUNTY
0,USC00010063,34.2553,-87.1814,28.5,90.1,66.7,137.4,01133
1,USC00010160,32.9453,-85.9481,31.4,90.9,57.3,155.6,01123
2,USC00010178,33.1272,-88.1550,31.0,92.7,61.4,172.5,01107
3,USC00010252,31.3072,-86.5225,31.9,91.8,62.9,186.4,01039
4,USC00010260,34.9092,-87.2747,26.4,89.8,79.5,134.7,01077
5,USC00010369,33.2942,-85.7789,29.4,89.9,68.2,149.4,01027
6,USC00010390,34.7753,-86.9508,29.8,90.2,62.1,143.3,01083
7,USC00010402,31.1819,-87.4389,36.9,91.3,30.3,177.0,01053
8,USC00010425,32.5992,-85.4653,32.2,90.5,42.5,154.8,01081
9,USC00010430,32.6000,-85.5000,33.5,91.1,39.8,158.5,01081
10,USC00010505,33.4528,-87.3572,31.9,91.1,49.2,152.2,01125
11,USC00010583,30.8839,-87.7853,38.8,90.3,23.1,172.6,01003
12,USC00010655,34.6908,-86.8825,27.3,91.2,82.2,147.3,01083
13,USC00010764,33.3953,-87.0078,32.6,91.2,49.2,152.6,01073
14,USC00011080,31.1414,-87.0486,35.1,91.3,43.3,177.7,01053
15,USC00011084,31.0581,-87.0547,36.3,91.9,42.8,187.3,01053
16,USC00011099,34.9786,-85.8008,27.3,89.1,76.8,132.7,01071
17,USC00011301,32.0289,-87.3167,34.9,91.9,38.2,174.7,01131
18,USC00011324,32.8236,-85.6561,25.8,91.7,81.2,159.9,01123
19,USC00011490,34.1500,-85.6847,27.7,90.5,78.1,146.3,01019
20,USC00011566,31.4714,-88.2503,32.8,93.1,53.5,187.0,01129
21,USC00011620,33.2850,-86.3431,32.4,91.4,56.6,168.3,01121
22,USC00011694,32.8203,-86.6522,32.0,90.4,55.0,154.3,01021
23,USC00011725,31.8708,-85.4500,31.8,91.4,54.9,172.1,01005
24,USC00011803,30.3878,-88.2281,38.6,88.6,25.4,157.8,01097
25,USC00012096,34.1925,-86.7972,28.0,88.8,70.5,132.4,01043
26,USC00012172,30.2506,-88.0775,45.3,89.4,4.3,155.8,01097
27,USC00012209,34.5569,-86.9503,31.5,88.3,52.6,131.1,01103
28,USC00012245,32.5192,-87.8800,31.8,91.4,54.9,161.9,01091
29,USC00012675,31.2975,-85.8997,37.7,91.6,22.5,183.6,01031
...,...,...,...,...,...,...,...,...
7394,USW00094910,42.5544,-92.4011,9.1,84.9,146.6,82.4,19013
7395,USW00094911,42.8783,-97.3633,9.5,87.7,157.9,96.0,46135
7396,USW00094918,41.3536,-96.0233,12.4,85.2,142.1,81.6,31055
7397,USW00094929,46.5486,-90.9189,3.7,78.4,185.3,33.3,55003
7398,USW00094931,47.3864,-92.8389,-5.4,78.1,208.9,31.9,27137
7399,USW00094938,46.4047,-94.1308,0.3,81.6,170.3,50.6,27035
7400,USW00094943,43.7667,-99.3183,10.7,88.1,151.3,85.8,46015
7401,USW00094946,41.4333,-99.6333,12.7,87.3,160.8,86.3,31041
7402,USW00094949,40.6044,-98.4272,15.7,88.2,136.7,94.6,31001
7403,USW00094950,43.7667,-98.0333,9.2,87.2,155.9,86.1,46035
7404,USW00094957,40.0803,-95.5919,16.8,89.1,124.6,110.2,31147
7405,USW00094958,41.6236,-98.9517,11.6,87.9,157.2,94.8,31175
7406,USW00094960,45.0619,-93.3508,6.2,84.1,155.9,69.2,27053
7407,USW00094961,48.7167,-94.6000,-4.7,78.3,189.3,29.1,27077
7408,USW00094963,44.8322,-93.4706,6.8,83.4,147.6,64.6,27053
7409,USW00094967,46.9006,-95.0678,-4.7,79.8,189.2,39.7,27057
7410,USW00094971,43.4075,-94.7461,6.7,83.3,159.6,67.0,19063
7411,USW00094973,46.0261,-91.4442,-0.9,80.0,194.4,41.0,55113
7412,USW00094978,41.7636,-96.1778,11.7,87.4,145.2,101.9,31021
7413,USW00094982,41.6117,-90.5808,12.2,83.8,135.7,80.4,19163
7414,USW00094985,44.6381,-90.1875,6.1,79.7,159.8,39.5,55141
7415,USW00094988,42.1128,-92.9175,10.3,83.9,149.3,75.8,19127
7416,USW00094989,41.9922,-93.6217,10.3,84.2,146.9,81.4,19169
7417,USW00094990,43.3906,-99.8422,13.8,89.3,145.5,90.6,46123
7418,USW00094991,40.6331,-93.9019,15.1,85.4,126.9,83.9,19053
7419,USW00094992,47.7472,-90.3444,5.7,69.0,169.4,5.1,27031
7420,USW00094993,45.6689,-96.9914,2.8,83.5,168.3,63.9,46109
7421,USW00094994,43.1561,-90.6775,8.4,85.0,155.1,78.6,55043
7422,USW00094995,40.8483,-96.5650,12.6,87.9,145.1,103.0,31109
7423,USW00094996,40.6953,-96.8542,14.3,87.1,139.6,94.5,31109

In [103]:
weather_data_by_county = pd.merge(station_data_df, lat_longs, on=['Latitude','Longitude']).groupby('FIPS_COUNTY').agg({
        'Latitude':'mean',
        'Longitude':'mean',
        'TMIN':'min', 
        'TMAX':'max', 
        'DAYS_LT_32':'mean', 
        'DAYS_GT_80':'mean',
        'ANN_PRECIP':'max'
    })
weather_data_by_county['ANN_PRECIP'] = weather_data_by_county['ANN_PRECIP'].fillna(-1)
weather_data_by_county

,Latitude,Longitude,TMIN,TMAX,DAYS_LT_32,DAYS_GT_80,ANN_PRECIP
FIPS_COUNTY,,,,,,,
01003,30.636125,-87.810900,36.8,91.2,25.100000,174.075000,68.90
01005,31.944433,-85.222967,31.8,93.4,42.833333,180.066667,50.14
01007,32.866100,-87.238300,30.3,90.9,67.300000,158.800000,57.23
01009,33.947800,-86.469200,29.9,90.8,66.600000,151.200000,55.41
01011,32.014200,-85.746400,32.9,90.6,55.900000,164.500000,55.42
01013,31.790000,-86.608600,33.1,90.6,49.600000,165.100000,57.36
01015,33.587200,-85.855600,32.7,90.1,48.000000,149.700000,49.67
01017,32.888150,-85.311400,29.1,90.9,60.900000,147.350000,54.55
01019,34.150000,-85.684700,27.7,90.5,78.100000,146.300000,54.10
01021,32.864200,-86.644800,31.9,91.0,44.066667,154.200000,57.88
01025,31.743675,-87.777225,33.0,91.4,41.100000,169.500000,60.18
01027,33.294200,-85.778900,29.4,89.9,68.200000,149.400000,58.15
01029,33.648300,-85.600600,29.3,89.0,69.900000,141.500000,55.05
01031,31.297500,-85.899700,37.7,91.6,22.500000,183.600000,54.31
01033,34.768633,-87.593033,26.7,91.4,65.333333,139.400000,57.26
01035,31.430300,-86.998750,35.4,91.7,38.350000,176.300000,61.02
01037,32.871100,-86.175800,33.7,89.7,45.800000,146.300000,56.58
01039,31.219533,-86.409367,31.9,92.2,31.533333,183.500000,59.97
01041,31.898500,-86.280850,30.9,90.1,41.200000,153.600000,55.72
01043,34.174720,-86.831440,27.2,92.0,65.620000,141.360000,59.13
01045,31.321400,-85.449700,37.4,92.0,23.000000,180.500000,53.97
01047,32.418550,-87.116650,32.3,92.2,43.175000,165.100000,53.67
01049,34.429080,-85.776780,27.3,89.7,70.500000,127.300000,55.97
01051,32.628650,-86.063500,34.1,90.8,40.850000,156.950000,51.29
01053,31.131600,-87.148475,35.1,91.9,35.700000,178.575000,70.73
01055,34.021900,-85.987800,30.5,91.0,56.500000,150.900000,54.59
01057,33.797900,-87.834450,27.6,92.1,66.050000,151.300000,60.26
01059,34.481800,-87.721100,28.0,90.0,70.550000,138.400000,56.62
01061,31.038300,-85.870800,35.0,92.0,41.300000,189.300000,59.11
01063,32.835800,-88.135850,32.7,92.2,41.800000,161.650000,52.66
...,...,...,...,...,...,...,...
55129,45.945150,-91.871400,-1.5,80.7,179.100000,40.850000,31.00
55131,43.295075,-88.227075,7.0,82.1,157.675000,50.475000,35.63
55133,43.052867,-88.310100,9.9,82.4,149.533333,58.666667,35.58
55135,44.488750,-88.903750,5.8,82.1,168.350000,53.950000,33.49
55137,44.054300,-89.238450,5.5,82.1,161.000000,53.900000,33.56
55139,44.002500,-88.557500,9.7,81.8,146.050000,55.900000,31.59
55141,44.512400,-90.052620,-1.0,83.6,168.440000,51.000000,32.72
56001,41.637800,-105.704067,8.6,84.7,208.933333,46.400000,15.95
56003,44.594586,-108.187071,0.2,91.9,182.271429,86.142857,10.59
56005,44.333188,-105.590663,0.4,90.1,185.550000,78.837500,16.94
56007,41.775090,-106.858860,-2.1,87.6,202.930000,56.470000,13.98
56009,42.945575,-105.373775,9.8,91.1,174.825000,86.025000,15.58
56011,44.611143,-104.606314,5.1,88.7,180.485714,66.642857,19.20
56013,43.031908,-108.650954,1.8,91.4,196.146154,69.346154,15.55
56015,42.043922,-104.350622,10.0,91.5,176.222222,95.488889,17.39
56017,43.692625,-108.195275,-0.3,94.4,181.825000,83.900000,14.25
56019,44.143675,-106.697425,7.8,89.3,177.325000,71.275000,13.45
56021,41.180343,-104.582114,11.1,87.8,176.742857,71.671429,18.73
56023,42.177262,-110.679725,-3.0,85.3,234.362500,51.150000,21.40
56025,42.885433,-106.541983,7.0,89.9,176.850000,78.566667,13.01
56027,43.028775,-104.359925,8.2,90.9,176.250000,84.500000,16.60
56029,44.606714,-109.461814,1.7,87.2,198.421429,50.757143,16.42
56031,42.228475,-104.889650,6.0,90.3,175.750000,83.600000,16.40
56033,44.743138,-106.904575,5.0,90.7,193.225000,63.150000,27.26
56035,42.881617,-110.035967,-7.5,82.5,261.016667,32.416667,18.76
56037,41.531983,-108.972417,6.0,89.3,196.316667,74.150000,9.73
56039,43.953820,-110.629240,-7.5,83.8,252.190000,25.180000,29.99
56041,41.301600,-110.599400,9.6,83.6,198.125000,44.625000,12.20
56043,43.963100,-107.666575,-0.7,91.7,183.675000,86.775000,13.57
56045,43.927500,-104.514600,6.8,90.1,187.175000,71.475000,19.57

In [104]:
avg_weekly_wage = pd.read_csv('avg_weekly_wage.csv', dtype={'FIPS_COUNTY':str})
avg_weekly_wage.head()

  FIPS_COUNTY              COUNTY_NAME  AVG_WEEKLY_WAGE
0       01001  Autauga County, Alabama              802
1       01003  Baldwin County, Alabama              717
2       01005  Barbour County, Alabama              727
3       01007     Bibb County, Alabama              785
4       01009   Blount County, Alabama              683

In [105]:
sunshine_df = pd.read_csv('sunlight.txt', delimiter='\t', header=None, dtype={2:str})
sunshine_df.columns = ['Notes','County','FIPS_COUNTY','AVG_DLY_SUN']
sunshine_df = sunshine_df.set_index('FIPS_COUNTY')['AVG_DLY_SUN']
sunshine_df['12086'] = sunshine_df['12025'] # Set Miami-Dade data to Dade county data
sunshine_df

FIPS_COUNTY
01001    17103.72
01003    17660.59
01005    17315.13
01007    16904.87
01009    16393.63
           ...
56039    16531.32
56041    17123.76
56043    16171.03
56045    15923.65
12086    19744.21
Name: AVG_DLY_SUN, Length: 3112, dtype: float64

In [106]:
data_df = weather_data_by_county.copy()

In [107]:
data_df['AVG_DLY_SUN'] = sunshine_df
data_df = pd.merge(data_df, avg_weekly_wage, left_index=True, right_on='FIPS_COUNTY')

In [108]:
data_df[data_df.isnull().any(axis=1)]

,Latitude,Longitude,TMIN,TMAX,DAYS_LT_32,DAYS_GT_80,ANN_PRECIP,AVG_DLY_SUN,FIPS_COUNTY,COUNTY_NAME,AVG_WEEKLY_WAGE
68,55.268750,-161.624600,23.2,58.3,118.250000,0.000000,41.67,NaN,02013,"Aleutians East Borough, Alaska",1100
69,54.450060,-101.776100,19.9,59.0,133.020000,155.540000,61.63,NaN,02016,"Aleutians West Census Area, Alaska",1111
70,61.161306,-149.555367,1.8,69.7,195.161111,1.022222,156.00,NaN,02020,"Anchorage Municipality, Alaska",1159
71,60.785000,-161.829200,0.3,64.2,214.300000,0.800000,18.54,NaN,02050,"Bethel Census Area, Alaska",879
72,58.679400,-156.629400,8.6,64.0,192.000000,0.700000,19.49,NaN,02060,"Bristol Bay Borough, Alaska",966
73,63.662833,-149.244733,-12.3,74.2,238.133333,3.683333,16.53,NaN,02068,"Denali Borough, Alaska",1297
74,59.050000,-158.516700,9.2,61.4,191.000000,0.000000,25.32,NaN,02070,"Dillingham Census Area, Alaska",898
75,64.867495,-147.598327,-17.1,77.4,231.377273,9.540909,15.83,NaN,02090,"Fairbanks North Star Borough, Alaska",1001
76,59.240700,-135.479400,17.1,65.7,145.300000,2.050000,66.44,NaN,02100,"Haines Borough, Alaska",1049
77,58.229017,-135.745150,21.7,66.1,115.716667,0.500000,150.71,NaN,02105,"Hoonah-Angoon Census Area, Alaska",650
78,58.338825,-134.430075,18.8,65.5,118.100000,1.025000,116.87,NaN,02110,"Juneau City and Borough, Alaska",996
79,60.236906,-150.708122,3.0,69.1,192.905556,130.594444,73.32,NaN,02122,"Kenai Peninsula Borough, Alaska",971
80,55.368350,-131.590000,29.9,66.8,78.550000,1.600000,161.06,NaN,02130,"Ketchikan Gateway Borough, Alaska",920
81,57.918200,-152.428750,25.5,62.7,135.000000,0.125000,78.00,NaN,02150,"Kodiak Island Borough, Alaska",889
83,59.836000,-154.574533,7.0,67.6,182.533333,1.000000,35.36,NaN,02164,"Lake and Peninsula Borough, Alaska",639
84,61.822104,-149.539192,-14.2,70.3,214.545833,1.833333,35.12,NaN,02170,"Matanuska-Susitna Borough, Alaska",816
85,65.067500,-166.769600,-9.2,58.7,240.250000,0.250000,16.81,NaN,02180,"Nome Census Area, Alaska",918
86,70.085811,-151.809556,-30.3,70.1,279.811111,0.655556,13.34,NaN,02185,"North Slope Borough, Alaska",2306
87,67.282800,-163.327200,-16.3,67.8,250.333333,1.033333,11.00,NaN,02188,"Northwest Arctic Borough, Alaska",1542
88,56.526400,-133.790950,25.8,64.9,88.000000,0.500000,162.63,NaN,02195,"Petersburg Borough, Alaska",725
89,55.365367,-132.598133,31.0,65.7,66.633333,1.466667,101.63,NaN,02198,"Prince of Wales-Hyder Census Area, Alaska",732
90,56.720850,-135.013600,29.6,63.3,79.250000,0.150000,236.59,NaN,02220,"Sitka City and Borough, Alaska",873
91,59.455600,-135.323900,20.8,65.2,125.900000,1.100000,27.05,NaN,02230,"Skagway Municipality, Alaska",822
92,63.790018,-143.759618,-29.0,74.9,246.727273,8.418182,16.71,NaN,02240,"Southeast Fairbanks Census Area, Alaska",1338
93,61.500229,-145.810938,-21.5,71.5,208.171429,2.209524,214.60,NaN,02261,"Valdez-Cordova Census Area, Alaska",1197
94,56.473300,-132.387500,27.4,65.2,81.900000,0.800000,91.21,NaN,02275,"Wrangell City and Borough, Alaska",704
95,59.511900,-139.671100,22.1,61.1,153.100000,0.300000,155.12,NaN,02282,"Yakutat City and Borough, Alaska",826
96,65.084077,-151.419731,-26.8,75.9,240.884615,7.153846,20.97,NaN,02290,"Yukon-Koyukuk Census Area, Alaska",703
557,19.636305,-155.576110,33.5,88.1,2.633333,131.690476,240.02,NaN,15001,"Hawaii County, Hawaii",850
558,21.437905,-157.964174,59.9,89.9,0.000000,249.936842,152.25,NaN,15003,"Honolulu County, Hawaii",1054
559,22.061456,-159.550044,46.0,87.6,0.233333,231.366667,77.76,NaN,15007,"Kauai County, Hawaii",884
560,20.834913,-156.496040,42.1,88.9,0.020000,176.900000,107.89,NaN,15009,"Maui + Kalawao County, Hawaii",900

In [109]:
data_df.dtypes

Latitude           float64
Longitude          float64
TMIN               float64
TMAX               float64
DAYS_LT_32         float64
DAYS_GT_80         float64
ANN_PRECIP         float64
AVG_DLY_SUN        float64
FIPS_COUNTY         object
COUNTY_NAME         object
AVG_WEEKLY_WAGE      int64
dtype: object

In [110]:
data_df.to_csv('data.csv')

In [112]:
data_df.describe()

,Latitude,Longitude,TMIN,TMAX,DAYS_LT_32,DAYS_GT_80,ANN_PRECIP,AVG_DLY_SUN,AVG_WEEKLY_WAGE
count,2865.000000,2865.000000,2865.000000,2865.000000,2865.000000,2865.000000,2865.000000,2833.000000,2865.000000
mean,38.619976,-92.875799,19.943455,88.544852,108.902900,109.356765,39.367613,16043.780487,816.282024
std,5.376906,12.983887,11.645269,5.574722,53.311443,50.064184,17.640194,1528.363603,217.973413
min,19.636305,-166.769600,-30.300000,58.300000,0.000000,0.000000,-1.000000,12945.790000,443.000000
25%,34.814375,-98.914875,11.900000,84.800000,67.050000,71.333333,27.740000,14764.310000,689.000000
50%,38.615800,-91.260550,20.200000,88.900000,112.550000,105.000000,40.870000,15851.130000,768.000000
75%,42.111700,-83.787200,28.300000,92.200000,151.300000,142.950000,49.040000,17179.190000,878.000000
max,70.085811,-67.513089,59.900000,117.000000,279.811111,409.300000,240.020000,20774.770000,3153.000000

In [3]:
daily_tmin_df = pd.read_fwf(f'{weather_dir}/dly-tmin-normal.txt', header=None)
daily_tmin_df.columns = ['STNID','MONTH'] + [i for i in range(1,32)]
daily_tmin_df = pd.melt(daily_tmin_df, id_vars = ['STNID','MONTH'], value_vars = [i for i in range(1,32)])
daily_tmin_df.columns = ['STNID','MONTH','DAY','VALUE']

daily_tmin_df = daily_tmin_df[daily_tmin_df['VALUE'] != '-8888']
daily_tmin_df['FLAG'] = daily_tmin_df['VALUE'].map(lambda x: x[-1])
daily_tmin_df['VALUE'] = daily_tmin_df['VALUE'].map(lambda x: int(x[0:-1])/10)
daily_tmin_df

               STNID  MONTH DAY  VALUE FLAG
0        AQW00061705      1   1   77.2    C
1        AQW00061705      2   1   77.4    C
2        AQW00061705      3   1   77.6    C
3        AQW00061705      4   1   77.4    C
4        AQW00061705      5   1   77.3    C
...              ...    ...  ..    ...  ...
2790364  WQW00041606      5  31   77.0    P
2790366  WQW00041606      7  31   78.1    P
2790367  WQW00041606      8  31   78.4    P
2790369  WQW00041606     10  31   77.3    P
2790371  WQW00041606     12  31   74.7    P

[2745366 rows x 5 columns]

In [4]:
daily_tmax_df = pd.read_fwf(f'{weather_dir}/dly-tmax-normal.txt', header=None)
daily_tmax_df.columns = ['STNID','MONTH'] + [i for i in range(1,32)]
daily_tmax_df = pd.melt(daily_tmax_df, id_vars = ['STNID','MONTH'], value_vars = [i for i in range(1,32)])
daily_tmax_df.columns = ['STNID','MONTH','DAY','VALUE']

daily_tmax_df = daily_tmax_df[daily_tmax_df['VALUE'] != '-8888']
daily_tmax_df['FLAG'] = daily_tmax_df['VALUE'].map(lambda x: x[-1])
daily_tmax_df['VALUE'] = daily_tmax_df['VALUE'].map(lambda x: int(x[0:-1])/10)
daily_tmax_df

               STNID  MONTH DAY  VALUE FLAG
0        AQW00061705      1   1   87.5    C
1        AQW00061705      2   1   87.8    C
2        AQW00061705      3   1   88.2    C
3        AQW00061705      4   1   87.9    C
4        AQW00061705      5   1   86.9    C
...              ...    ...  ..    ...  ...
2790364  WQW00041606      5  31   87.5    P
2790366  WQW00041606      7  31   89.0    P
2790367  WQW00041606      8  31   89.0    P
2790369  WQW00041606     10  31   87.0    P
2790371  WQW00041606     12  31   83.7    P

[2745366 rows x 5 columns]

In [5]:
daily_temp_df = pd.merge(daily_tmin_df, daily_tmax_df, on=['STNID','MONTH','DAY'], suffixes=['_MIN','_MAX'])
daily_temp_df

               STNID  MONTH DAY  VALUE_MIN FLAG_MIN  VALUE_MAX FLAG_MAX
0        AQW00061705      1   1       77.2        C       87.5        C
1        AQW00061705      2   1       77.4        C       87.8        C
2        AQW00061705      3   1       77.6        C       88.2        C
3        AQW00061705      4   1       77.4        C       87.9        C
4        AQW00061705      5   1       77.3        C       86.9        C
...              ...    ...  ..        ...      ...        ...      ...
2745361  WQW00041606      5  31       77.0        P       87.5        P
2745362  WQW00041606      7  31       78.1        P       89.0        P
2745363  WQW00041606      8  31       78.4        P       89.0        P
2745364  WQW00041606     10  31       77.3        P       87.0        P
2745365  WQW00041606     12  31       74.7        P       83.7        P

[2745366 rows x 7 columns]

In [6]:
all_stations_df = pd.read_fwf(f'{weather_dir}/allstations.txt', header=None)
all_stations_df.columns = ['ID', 'Latitude','Longitude','Elevation','State','Name','GSNFLAG','HCNFLAG','WMOID']
all_stations_df.head()

,ID,Latitude,Longitude,Elevation,State,Name,GSNFLAG,HCNFLAG,WMOID
0,AQC00914000,-14.3167,-170.7667,408.4,AS,AASUFOU,NaN,NaN,NaN
1,AQW00061705,-14.3306,-170.7136,3.7,AS,PAGO PAGO WSO AP,NaN,GSN,91765.0
2,CAW00064757,44.2325,-79.7811,246.0,ON,EGBERT 1 W,NaN,NaN,NaN
3,CQC00914080,15.2136,145.7497,252.1,MP,CAPITOL HILL 1,NaN,NaN,NaN
4,CQC00914801,14.1717,145.2428,179.2,MP,ROTA AP,NaN,NaN,91221.0

In [7]:
# lat_longs = list(stations.apply(lambda row: {'Latitude':row['Latitude'],'Longitude':row['Longitude']}, axis='columns'))
# lat_longs

# for lat_long in lat_longs:
#     url = f"https://geo.fcc.gov/api/census/block/find?latitude={lat_long['Latitude']}&longitude={lat_long['Longitude']}&showall=false&format=json"
#     response = requests.get(url)
#     if response.ok:
#         lat_long['FIPS_COUNTY'] = response.json()['County']['FIPS']
#     print(lat_long)

# pd.DataFrame(lat_longs).to_csv('lat_longs_to_fips.csv')

lat_longs = pd.read_csv('lat_longs_to_fips.csv', dtype={'FIPS_COUNTY':str})
lat_longs

      Latitude  Longitude FIPS_COUNTY
0      34.2553   -87.1814       01133
1      32.9453   -85.9481       01123
2      33.1272   -88.1550       01107
3      31.3072   -86.5225       01039
4      34.9092   -87.2747       01077
...        ...        ...         ...
7433   47.7472   -90.3444       27031
7434   45.6689   -96.9914       46109
7435   43.1561   -90.6775       55043
7436   40.8483   -96.5650       31109
7437   40.6953   -96.8542       31109

[7438 rows x 3 columns]

In [8]:
daily_temp_df = pd.merge(daily_temp_df, all_stations_df, left_on='STNID', right_on='ID')
daily_temp_df = pd.merge(daily_temp_df, lat_longs, on=['Latitude','Longitude'])
daily_temp_df

,STNID,MONTH,DAY,VALUE_MIN,FLAG_MIN,VALUE_MAX,FLAG_MAX,ID,Latitude,Longitude,Elevation,State,Name,GSNFLAG,HCNFLAG,WMOID,FIPS_COUNTY
0,USC00010063,1,1,29.1,Q,49.6,Q,USC00010063,34.2553,-87.1814,249.3,AL,ADDISON,NaN,NaN,NaN,01133
1,USC00010063,2,1,30.3,Q,51.8,Q,USC00010063,34.2553,-87.1814,249.3,AL,ADDISON,NaN,NaN,NaN,01133
2,USC00010063,3,1,36.1,Q,58.1,Q,USC00010063,34.2553,-87.1814,249.3,AL,ADDISON,NaN,NaN,NaN,01133
3,USC00010063,4,1,44.0,Q,68.0,Q,USC00010063,34.2553,-87.1814,249.3,AL,ADDISON,NaN,NaN,NaN,01133
4,USC00010063,5,1,52.1,Q,74.9,Q,USC00010063,34.2553,-87.1814,249.3,AL,ADDISON,NaN,NaN,NaN,01133
5,USC00010063,6,1,61.0,Q,83.1,Q,USC00010063,34.2553,-87.1814,249.3,AL,ADDISON,NaN,NaN,NaN,01133
6,USC00010063,7,1,67.1,Q,87.2,Q,USC00010063,34.2553,-87.1814,249.3,AL,ADDISON,NaN,NaN,NaN,01133
7,USC00010063,8,1,68.2,Q,89.9,Q,USC00010063,34.2553,-87.1814,249.3,AL,ADDISON,NaN,NaN,NaN,01133
8,USC00010063,9,1,65.0,Q,87.6,Q,USC00010063,34.2553,-87.1814,249.3,AL,ADDISON,NaN,NaN,NaN,01133
9,USC00010063,10,1,54.0,Q,77.9,Q,USC00010063,34.2553,-87.1814,249.3,AL,ADDISON,NaN,NaN,NaN,01133
10,USC00010063,11,1,42.9,Q,68.6,Q,USC00010063,34.2553,-87.1814,249.3,AL,ADDISON,NaN,NaN,NaN,01133
11,USC00010063,12,1,36.0,Q,57.0,Q,USC00010063,34.2553,-87.1814,249.3,AL,ADDISON,NaN,NaN,NaN,01133
12,USC00010063,1,2,29.0,Q,49.6,Q,USC00010063,34.2553,-87.1814,249.3,AL,ADDISON,NaN,NaN,NaN,01133
13,USC00010063,2,2,30.5,Q,51.9,Q,USC00010063,34.2553,-87.1814,249.3,AL,ADDISON,NaN,NaN,NaN,01133
14,USC00010063,3,2,36.4,Q,58.5,Q,USC00010063,34.2553,-87.1814,249.3,AL,ADDISON,NaN,NaN,NaN,01133
15,USC00010063,4,2,44.2,Q,68.2,Q,USC00010063,34.2553,-87.1814,249.3,AL,ADDISON,NaN,NaN,NaN,01133
16,USC00010063,5,2,52.4,Q,75.2,Q,USC00010063,34.2553,-87.1814,249.3,AL,ADDISON,NaN,NaN,NaN,01133
17,USC00010063,6,2,61.3,Q,83.3,Q,USC00010063,34.2553,-87.1814,249.3,AL,ADDISON,NaN,NaN,NaN,01133
18,USC00010063,7,2,67.3,Q,87.3,Q,USC00010063,34.2553,-87.1814,249.3,AL,ADDISON,NaN,NaN,NaN,01133
19,USC00010063,8,2,68.2,Q,89.9,Q,USC00010063,34.2553,-87.1814,249.3,AL,ADDISON,NaN,NaN,NaN,01133
20,USC00010063,9,2,64.8,Q,87.3,Q,USC00010063,34.2553,-87.1814,249.3,AL,ADDISON,NaN,NaN,NaN,01133
21,USC00010063,10,2,53.5,Q,77.6,Q,USC00010063,34.2553,-87.1814,249.3,AL,ADDISON,NaN,NaN,NaN,01133
22,USC00010063,11,2,42.7,Q,68.3,Q,USC00010063,34.2553,-87.1814,249.3,AL,ADDISON,NaN,NaN,NaN,01133
23,USC00010063,12,2,35.7,Q,56.6,Q,USC00010063,34.2553,-87.1814,249.3,AL,ADDISON,NaN,NaN,NaN,01133
24,USC00010063,1,3,28.9,Q,49.6,Q,USC00010063,34.2553,-87.1814,249.3,AL,ADDISON,NaN,NaN,NaN,01133
25,USC00010063,2,3,30.6,Q,52.1,Q,USC00010063,34.2553,-87.1814,249.3,AL,ADDISON,NaN,NaN,NaN,01133
26,USC00010063,3,3,36.6,Q,58.8,Q,USC00010063,34.2553,-87.1814,249.3,AL,ADDISON,NaN,NaN,NaN,01133
27,USC00010063,4,3,44.5,Q,68.5,Q,USC00010063,34.2553,-87.1814,249.3,AL,ADDISON,NaN,NaN,NaN,01133
28,USC00010063,5,3,52.7,Q,75.5,Q,USC00010063,34.2553,-87.1814,249.3,AL,ADDISON,NaN,NaN,NaN,01133
29,USC00010063,6,3,61.5,Q,83.5,Q,USC00010063,34.2553,-87.1814,249.3,AL,ADDISON,NaN,NaN,NaN,01133
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2724474,USW00094996,1,29,14.9,Q,35.9,Q,USW00094996,40.6953,-96.8542,418.2,NE,LINCOLN 11 SW,NaN,NaN,NaN,31109
2724475,USW00094996,2,29,21.7,Q,44.8,Q,USW00094996,40.6953,-96.8542,418.2,NE,LINCOLN 11 SW,NaN,NaN,NaN,31109
2724476,USW00094996,3,29,32.4,Q,57.1,Q,USW00094996,40.6953,-96.8542,418.2,NE,LINCOLN 11 SW,NaN,NaN,NaN,31109
2724477,USW00094996,4,29,43.7,Q,67.3,Q,USW00094996,40.6953,-96.8542,418.2,NE,LINCOLN 11 SW,NaN,NaN,NaN,31109
2724478,USW00094996,5,29,55.3,Q,76.9,Q,USW00094996,40.6953,-96.8542,418.2,NE,LINCOLN 11 SW,NaN,NaN,NaN,31109
2724479,USW00094996,6,29,63.7,Q,85.1,Q,USW00094996,40.6953,-96.8542,418.2,NE,LINCOLN 11 SW,NaN,NaN,NaN,31109
2724480,USW00094996,7,29,65.7,Q,87.1,Q,USW00094996,40.6953,-96.8542,418.2,NE,LINCOLN 11 SW,NaN,NaN,NaN,31109
2724481,USW00094996,8,29,59.8,Q,83.3,Q,USW00094996,40.6953,-96.8542,418.2,NE,LINCOLN 11 SW,NaN,NaN,NaN,31109
2724482,USW00094996,9,29,48.0,Q,72.6,Q,USW00094996,40.6953,-96.8542,418.2,NE,LINCOLN 11 SW,NaN,NaN,NaN,31109
2724483,USW00094996,10,29,35.3,Q,59.2,Q,USW00094996,40.6953,-96.8542,418.2,NE,LINCOLN 11 SW,NaN,NaN,NaN,31109
2724484,USW00094996,11,29,22.2,Q,42.4,Q,USW00094996,40.6953,-96.8542,418.2,NE,LINCOLN 11 SW,NaN,NaN,NaN,31109
2724485,USW00094996,12,29,14.7,Q,34.5,Q,USW00094996,40.6953,-96.8542,418.2,NE,LINCOLN 11 SW,NaN,NaN,NaN,31109
2724486,USW00094996,1,30,15.0,Q,36.1,Q,USW00094996,40.6953,-96.8542,418.2,NE,LINCOLN 11 SW,NaN,NaN,NaN,31109
2724487,USW00094996,3,30,32.8,Q,57.4,Q,USW00094996,40.6953,-96.8542,418.2,NE,LINCOLN 11 SW,NaN,NaN,NaN,31109
2724488,USW00094996,4,30,44.1,Q,67.6,Q,USW00094996,40.6953,-96.8542,418.2,NE,LINCOLN 11 SW,NaN,NaN,NaN,31109
2724489,USW00094996,5,30,55.6,Q,77.2,Q,USW00094996,40.6953,-96.8542,418.2,NE,LINCOLN 11 SW,NaN,NaN,NaN,31109
2724490,USW00094996,6,30,63.9,Q,85.3,Q,USW00094996,40.6953,-96.8542,418.2,NE,LINCOLN 11 SW,NaN,NaN,NaN,31109
2724491,USW00094996,7,30,65.6,Q,87.0,Q,USW00094996,40.6953,-96.8542,418.2,NE,LINCOLN 11 SW,NaN,NaN,NaN,31109
2724492,USW00094996,8,30,59.5,Q,83.1,Q,USW00094996,40.6953,-96.8542,418.2,NE,LINCOLN 11 SW,NaN,NaN,NaN,31109
2724493,USW00094996,9,30,47.5,Q,72.2,Q,USW00094996,40.6953,-96.8542,418.2,NE,LINCOLN 11 SW,NaN,NaN,NaN,31109
2724494,USW00094996,10,30,34.9,Q,58.7,Q,USW00094996,40.6953,-96.8542,418.2,NE,LINCOLN 11 SW,NaN,NaN,NaN,31109
2724495,USW00094996,11,30,21.8,Q,42.0,Q,USW00094996,40.6953,-96.8542,418.2,NE,LINCOLN 11 SW,NaN,NaN,NaN,31109
2724496,USW00094996,12,30,14.6,Q,34.5,Q,USW00094996,40.6953,-96.8542,418.2,NE,LINCOLN 11 SW,NaN,NaN,NaN,31109
2724497,USW00094996,1,31,15.1,Q,36.2,Q,USW00094996,40.6953,-96.8542,418.2,NE,LINCOLN 11 SW,NaN,NaN,NaN,31109
2724498,USW00094996,3,31,33.1,Q,57.8,Q,USW00094996,40.6953,-96.8542,418.2,NE,LINCOLN 11 SW,NaN,NaN,NaN,31109
2724499,USW00094996,5,31,55.9,Q,77.5,Q,USW00094996,40.6953,-96.8542,418.2,NE,LINCOLN 11 SW,NaN,NaN,NaN,31109
2724500,USW00094996,7,31,65.5,Q,87.0,Q,USW00094996,40.6953,-96.8542,418.2,NE,LINCOLN 11 SW,NaN,NaN,NaN,31109
2724501,USW00094996,8,31,59.2,Q,82.9,Q,USW00094996,40.6953,-96.8542,418.2,NE,LINCOLN 11 SW,NaN,NaN,NaN,31109
2724502,USW00094996,10,31,34.5,Q,58.1,Q,USW00094996,40.6953,-96.8542,418.2,NE,LINCOLN 11 SW,NaN,NaN,NaN,31109
2724503,USW00094996,12,31,14.6,Q,34.4,Q,USW00094996,40.6953,-96.8542,418.2,NE,LINCOLN 11 SW,NaN,NaN,NaN,31109

In [10]:
daily_min_temp_by_county = daily_temp_df.groupby(['FIPS_COUNTY','MONTH','DAY'])['VALUE_MIN'].min()
daily_max_temp_by_county = daily_temp_df.groupby(['FIPS_COUNTY','MONTH','DAY'])['VALUE_MAX'].max()
lat_long_by_county = daily_temp_df.groupby(['FIPS_COUNTY'])[['Latitude','Longitude']].mean()
daily_temp_by_county = pd.merge(daily_min_temp_by_county, daily_max_temp_by_county, left_index=True, right_index=True)
daily_temp_by_county = pd.merge(daily_temp_by_county, lat_long_by_county, left_index=True, right_index=True)
daily_temp_by_county

                       VALUE_MIN  VALUE_MAX   Latitude  Longitude
FIPS_COUNTY MONTH DAY
01003       1     1         37.6       61.3  30.636125   -87.8109
                  2         37.5       61.3  30.636125   -87.8109
                  3         37.4       61.2  30.636125   -87.8109
                  4         37.3       61.2  30.636125   -87.8109
                  5         37.2       61.2  30.636125   -87.8109
...                          ...        ...        ...        ...
56045       12    27         7.4       35.1  43.927500  -104.5146
                  28         7.4       35.2  43.927500  -104.5146
                  29         7.4       35.3  43.927500  -104.5146
                  30         7.5       35.4  43.927500  -104.5146
                  31         7.5       35.5  43.927500  -104.5146

[1049322 rows x 4 columns]

In [11]:
precip_df = pd.read_fwf(f'{weather_dir}/ann-prcp-normal.txt', header=None)
precip_df.columns = ['STNID','VALUE']
precip_df['FLAG'] = precip_df['VALUE'].map(lambda x: x[-1])
precip_df['annual_precipitation'] = precip_df['VALUE'].map(lambda x: int(x[0:-1])/100)

precip_df = pd.merge(precip_df, all_stations_df, left_on='STNID', right_on='ID')
precip_df = pd.merge(precip_df, lat_longs, on=['Latitude','Longitude'])

precip_by_county = precip_df.groupby('FIPS_COUNTY')['annual_precipitation'].max()
#precip_by_county['13193']
#precip_df[precip_df['FIPS_COUNTY'] == '13193']
precip_df[precip_df['FIPS_COUNTY'] == '01003']

,STNID,VALUE,FLAG,annual_precipitation,ID,Latitude,Longitude,Elevation,State,Name,GSNFLAG,HCNFLAG,WMOID,FIPS_COUNTY
11,USC00010583,6890S,S,68.90,USC00010583,30.8839,-87.7853,82.6,AL,BAY MINETTE,NaN,NaN,NaN,01003
28,USC00012813,6787S,S,67.87,USC00012813,30.5467,-87.8808,7.0,AL,FAIRHOPE 2 NE,NaN,NaN,NaN,01003
60,USC00016988,6732R,R,67.32,USC00016988,30.5653,-87.7017,49.1,AL,ROBERTSDALE,NaN,NaN,NaN,01003

In [12]:
df = pd.DataFrame({
    'min_temp': daily_temp_by_county.groupby('FIPS_COUNTY')['VALUE_MIN'].min(), 
    'max_temp':daily_temp_by_county.groupby('FIPS_COUNTY')['VALUE_MAX'].max(),
    'latitude':daily_temp_by_county.groupby('FIPS_COUNTY')['Latitude'].mean(),
    'longitude':daily_temp_by_county.groupby('FIPS_COUNTY')['Longitude'].mean(),
    'annual_precipitation':precip_by_county
}).reset_index()
df.rename({'index':'FIPS_COUNTY'}, axis='columns', inplace=True)
df['annual_precipitation'].isna().sum()

46

In [13]:
avg_weekly_wage = pd.read_csv('avg_weekly_wage.csv', dtype={'FIPS_COUNTY':str})
avg_weekly_wage.head()

  FIPS_COUNTY              COUNTY_NAME  AVG_WEEKLY_WAGE
0       01001  Autauga County, Alabama              802
1       01003  Baldwin County, Alabama              717
2       01005  Barbour County, Alabama              727
3       01007     Bibb County, Alabama              785
4       01009   Blount County, Alabama              683

In [14]:
data_df = pd.merge(df, avg_weekly_wage, on='FIPS_COUNTY')
data_df

,FIPS_COUNTY,min_temp,max_temp,latitude,longitude,annual_precipitation,COUNTY_NAME,AVG_WEEKLY_WAGE
0,01003,36.8,91.2,30.636125,-87.810900,68.90,"Baldwin County, Alabama",717
1,01005,31.8,93.4,31.944433,-85.222967,50.14,"Barbour County, Alabama",727
2,01007,30.3,90.9,32.866100,-87.238300,57.23,"Bibb County, Alabama",785
3,01009,29.9,90.8,33.947800,-86.469200,55.41,"Blount County, Alabama",683
4,01011,32.9,90.6,32.014200,-85.746400,55.42,"Bullock County, Alabama",673
5,01013,33.1,90.6,31.790000,-86.608600,57.36,"Butler County, Alabama",659
6,01015,32.7,90.1,33.587200,-85.855600,49.67,"Calhoun County, Alabama",794
7,01017,29.1,90.9,32.888150,-85.311400,54.55,"Chambers County, Alabama",745
8,01019,27.7,90.5,34.150000,-85.684700,54.10,"Cherokee County, Alabama",658
9,01021,31.9,91.0,32.864200,-86.644800,57.88,"Chilton County, Alabama",741
10,01025,33.0,91.4,31.743675,-87.777225,60.18,"Clarke County, Alabama",789
11,01027,29.4,89.9,33.294200,-85.778900,58.15,"Clay County, Alabama",661
12,01029,29.3,89.0,33.648300,-85.600600,55.05,"Cleburne County, Alabama",757
13,01031,37.7,91.6,31.297500,-85.899700,54.31,"Coffee County, Alabama",655
14,01033,26.7,91.4,34.768633,-87.593033,57.26,"Colbert County, Alabama",854
15,01035,35.4,91.7,31.430300,-86.998750,61.02,"Conecuh County, Alabama",699
16,01037,33.7,89.7,32.871100,-86.175800,56.58,"Coosa County, Alabama",695
17,01039,31.9,92.2,31.219533,-86.409367,59.97,"Covington County, Alabama",693
18,01041,30.9,90.1,31.898500,-86.280850,55.72,"Crenshaw County, Alabama",709
19,01043,27.2,92.0,34.174720,-86.831440,59.13,"Cullman County, Alabama",739
20,01045,37.4,92.0,31.321400,-85.449700,53.97,"Dale County, Alabama",1069
21,01047,32.3,92.2,32.418550,-87.116650,53.67,"Dallas County, Alabama",771
22,01049,27.3,89.7,34.429080,-85.776780,55.97,"DeKalb County, Alabama",708
23,01051,34.1,90.8,32.628650,-86.063500,51.29,"Elmore County, Alabama",704
24,01053,35.1,91.9,31.131600,-87.148475,70.73,"Escambia County, Alabama",770
25,01055,30.5,91.0,34.021900,-85.987800,54.59,"Etowah County, Alabama",711
26,01057,27.6,92.1,33.797900,-87.834450,60.26,"Fayette County, Alabama",636
27,01059,28.0,90.0,34.481800,-87.721100,56.62,"Franklin County, Alabama",694
28,01061,35.0,92.0,31.038300,-85.870800,59.11,"Geneva County, Alabama",613
29,01063,32.7,92.2,32.835800,-88.135850,52.66,"Greene County, Alabama",647
...,...,...,...,...,...,...,...,...
2835,55129,-1.5,80.7,45.945150,-91.871400,31.00,"Washburn County, Wisconsin",695
2836,55131,7.0,82.1,43.295075,-88.227075,35.63,"Washington County, Wisconsin",897
2837,55133,9.9,82.4,43.052867,-88.310100,35.58,"Waukesha County, Wisconsin",1167
2838,55135,5.8,82.1,44.488750,-88.903750,33.49,"Waupaca County, Wisconsin",743
2839,55137,5.5,82.1,44.054300,-89.238450,33.56,"Waushara County, Wisconsin",673
2840,55139,9.7,81.8,44.002500,-88.557500,31.59,"Winnebago County, Wisconsin",1053
2841,55141,-1.0,83.6,44.512400,-90.052620,32.72,"Wood County, Wisconsin",897
2842,56001,8.6,84.7,41.637800,-105.704067,15.95,"Albany County, Wyoming",775
2843,56003,0.2,91.9,44.594586,-108.187071,10.59,"Big Horn County, Wyoming",778
2844,56005,0.4,90.1,44.333187,-105.590663,16.94,"Campbell County, Wyoming",1143
2845,56007,-2.1,87.6,41.775090,-106.858860,13.98,"Carbon County, Wyoming",1034
2846,56009,9.8,91.1,42.945575,-105.373775,15.58,"Converse County, Wyoming",1036
2847,56011,5.1,88.7,44.611143,-104.606314,19.20,"Crook County, Wyoming",811
2848,56013,1.8,91.4,43.031908,-108.650954,15.55,"Fremont County, Wyoming",794
2849,56015,10.0,91.5,42.043922,-104.350622,17.39,"Goshen County, Wyoming",726
2850,56017,-0.3,94.4,43.692625,-108.195275,14.25,"Hot Springs County, Wyoming",718
2851,56019,7.8,89.3,44.143675,-106.697425,13.45,"Johnson County, Wyoming",737
2852,56021,11.1,87.8,41.180343,-104.582114,18.73,"Laramie County, Wyoming",915
2853,56023,-3.0,85.3,42.177262,-110.679725,21.40,"Lincoln County, Wyoming",913
2854,56025,7.0,89.9,42.885433,-106.541983,13.01,"Natrona County, Wyoming",979
2855,56027,8.2,90.9,43.028775,-104.359925,16.60,"Niobrara County, Wyoming",699
2856,56029,1.7,87.2,44.606714,-109.461814,16.42,"Park County, Wyoming",810
2857,56031,6.0,90.3,42.228475,-104.889650,16.40,"Platte County, Wyoming",979
2858,56033,5.0,90.7,44.743138,-106.904575,27.26,"Sheridan County, Wyoming",812
2859,56035,-7.5,82.5,42.881617,-110.035967,18.76,"Sublette County, Wyoming",1135
2860,56037,6.0,89.3,41.531983,-108.972417,9.73,"Sweetwater County, Wyoming",1158
2861,56039,-7.5,83.8,43.953820,-110.629240,29.99,"Teton County, Wyoming",1016
2862,56041,9.6,83.6,41.301600,-110.599400,12.20,"Uinta County, Wyoming",805
2863,56043,-0.7,91.7,43.963100,-107.666575,13.57,"Washakie County, Wyoming",812
2864,56045,6.8,90.1,43.927500,-104.514600,19.57,"Weston County, Wyoming",788

In [28]:
sunshine_df = pd.read_csv('sunlight.txt', delimiter='\t', header=None, dtype={2:str})
sunshine_df.columns = ['Notes','County','FIPS_COUNTY','avg_daily_sunlight']
sunshine_df.drop(['Notes','County'], axis=1, inplace=True)
sunshine_df

     FIPS_COUNTY  avg_daily_sunlight
0          01001            17103.72
1          01003            17660.59
2          01005            17315.13
3          01007            16904.87
4          01009            16393.63
...          ...                 ...
3106       56037            16743.42
3107       56039            16531.32
3108       56041            17123.76
3109       56043            16171.03
3110       56045            15923.65

[3111 rows x 2 columns]

In [29]:
data_df = pd.merge(data_df, sunshine_df, on='FIPS_COUNTY')

In [32]:
days_under_32 = pd.read_fwf('ann-tmin-avgnds-lsth032.txt')
days_under_32

      AQW00061705     0C
0     CAW00064757  1532Q
1     CQC00914080     0P
2     CQC00914801     0R
3     FMC00914395     0P
4     FMC00914419     0P
...           ...    ...
7495  VQC00671740     0R
7496  VQC00671980     0R
7497  VQW00011624     0R
7498  VQW00011640     0S
7499  WQW00041606     0P

[7500 rows x 2 columns]

In [30]:
data_df['annual_precipitation'] = data_df['annual_precipitation'].fillna(-1)
data_df.to_csv('data.csv')

In [31]:
data_df.head()

,FIPS_COUNTY,min_temp,max_temp,latitude,longitude,annual_precipitation,COUNTY_NAME,AVG_WEEKLY_WAGE,avg_daily_sunlight
0,01003,36.8,91.2,30.636125,-87.810900,68.90,"Baldwin County, Alabama",717,17660.59
1,01005,31.8,93.4,31.944433,-85.222967,50.14,"Barbour County, Alabama",727,17315.13
2,01007,30.3,90.9,32.866100,-87.238300,57.23,"Bibb County, Alabama",785,16904.87
3,01009,29.9,90.8,33.947800,-86.469200,55.41,"Blount County, Alabama",683,16393.63
4,01011,32.9,90.6,32.014200,-85.746400,55.42,"Bullock County, Alabama",673,17296.02