In [2]:
import numpy as np
import pandas as pd
import requests

In [3]:
#weather_dir = 'I:/Weather Data/'
weather_dir = '.'

In [10]:
daily_tmin_df = pd.read_fwf(f'{weather_dir}/dly-tmin-normal.txt', header=None)
daily_tmin_df.columns = ['STNID','MONTH'] + [i for i in range(1,32)]
daily_tmin_df = pd.melt(daily_tmin_df, id_vars = ['STNID','MONTH'], value_vars = [i for i in range(1,32)])
daily_tmin_df.columns = ['STNID','MONTH','DAY','VALUE']

daily_tmin_df = daily_tmin_df[daily_tmin_df['VALUE'] != '-8888']
daily_tmin_df['FLAG'] = daily_tmin_df['VALUE'].map(lambda x: x[-1])
daily_tmin_df['VALUE'] = daily_tmin_df['VALUE'].map(lambda x: int(x[0:-1])/10)
daily_tmin_df

               STNID  MONTH DAY  VALUE FLAG
0        AQW00061705      1   1   77.2    C
1        AQW00061705      2   1   77.4    C
2        AQW00061705      3   1   77.6    C
3        AQW00061705      4   1   77.4    C
4        AQW00061705      5   1   77.3    C
...              ...    ...  ..    ...  ...
2790364  WQW00041606      5  31   77.0    P
2790366  WQW00041606      7  31   78.1    P
2790367  WQW00041606      8  31   78.4    P
2790369  WQW00041606     10  31   77.3    P
2790371  WQW00041606     12  31   74.7    P

[2745366 rows x 5 columns]

In [11]:
daily_tmax_df = pd.read_fwf(f'{weather_dir}/dly-tmax-normal.txt', header=None)
daily_tmax_df.columns = ['STNID','MONTH'] + [i for i in range(1,32)]
daily_tmax_df = pd.melt(daily_tmax_df, id_vars = ['STNID','MONTH'], value_vars = [i for i in range(1,32)])
daily_tmax_df.columns = ['STNID','MONTH','DAY','VALUE']

daily_tmax_df = daily_tmax_df[daily_tmax_df['VALUE'] != '-8888']
daily_tmax_df['FLAG'] = daily_tmax_df['VALUE'].map(lambda x: x[-1])
daily_tmax_df['VALUE'] = daily_tmax_df['VALUE'].map(lambda x: int(x[0:-1])/10)
daily_tmax_df

               STNID  MONTH DAY  VALUE FLAG
0        AQW00061705      1   1   87.5    C
1        AQW00061705      2   1   87.8    C
2        AQW00061705      3   1   88.2    C
3        AQW00061705      4   1   87.9    C
4        AQW00061705      5   1   86.9    C
...              ...    ...  ..    ...  ...
2790364  WQW00041606      5  31   87.5    P
2790366  WQW00041606      7  31   89.0    P
2790367  WQW00041606      8  31   89.0    P
2790369  WQW00041606     10  31   87.0    P
2790371  WQW00041606     12  31   83.7    P

[2745366 rows x 5 columns]

In [12]:
daily_temp_df = pd.merge(daily_tmin_df, daily_tmax_df, on=['STNID','MONTH','DAY'], suffixes=['_MIN','_MAX'])
daily_temp_df

               STNID  MONTH DAY  VALUE_MIN FLAG_MIN  VALUE_MAX FLAG_MAX
0        AQW00061705      1   1       77.2        C       87.5        C
1        AQW00061705      2   1       77.4        C       87.8        C
2        AQW00061705      3   1       77.6        C       88.2        C
3        AQW00061705      4   1       77.4        C       87.9        C
4        AQW00061705      5   1       77.3        C       86.9        C
...              ...    ...  ..        ...      ...        ...      ...
2745361  WQW00041606      5  31       77.0        P       87.5        P
2745362  WQW00041606      7  31       78.1        P       89.0        P
2745363  WQW00041606      8  31       78.4        P       89.0        P
2745364  WQW00041606     10  31       77.3        P       87.0        P
2745365  WQW00041606     12  31       74.7        P       83.7        P

[2745366 rows x 7 columns]

In [13]:
all_stations_df = pd.read_fwf(f'{weather_dir}/allstations.txt', header=None)
all_stations_df.columns = ['ID', 'Latitude','Longitude','Elevation','State','Name','GSNFLAG','HCNFLAG','WMOID']
all_stations_df.head()

,ID,Latitude,Longitude,Elevation,State,Name,GSNFLAG,HCNFLAG,WMOID
0,AQC00914000,-14.3167,-170.7667,408.4,AS,AASUFOU,NaN,NaN,NaN
1,AQW00061705,-14.3306,-170.7136,3.7,AS,PAGO PAGO WSO AP,NaN,GSN,91765.0
2,CAW00064757,44.2325,-79.7811,246.0,ON,EGBERT 1 W,NaN,NaN,NaN
3,CQC00914080,15.2136,145.7497,252.1,MP,CAPITOL HILL 1,NaN,NaN,NaN
4,CQC00914801,14.1717,145.2428,179.2,MP,ROTA AP,NaN,NaN,91221.0

In [17]:
# lat_longs = list(stations.apply(lambda row: {'Latitude':row['Latitude'],'Longitude':row['Longitude']}, axis='columns'))
# lat_longs

# for lat_long in lat_longs:
#     url = f"https://geo.fcc.gov/api/census/block/find?latitude={lat_long['Latitude']}&longitude={lat_long['Longitude']}&showall=false&format=json"
#     response = requests.get(url)
#     if response.ok:
#         lat_long['FIPS_COUNTY'] = response.json()['County']['FIPS']
#     print(lat_long)

# pd.DataFrame(lat_longs).to_csv('lat_longs_to_fips.csv')

lat_longs = pd.read_csv('lat_longs_to_fips.csv', dtype={'FIPS_COUNTY':str})
lat_longs

      Latitude  Longitude FIPS_COUNTY
0      34.2553   -87.1814       01133
1      32.9453   -85.9481       01123
2      33.1272   -88.1550       01107
3      31.3072   -86.5225       01039
4      34.9092   -87.2747       01077
...        ...        ...         ...
7433   47.7472   -90.3444       27031
7434   45.6689   -96.9914       46109
7435   43.1561   -90.6775       55043
7436   40.8483   -96.5650       31109
7437   40.6953   -96.8542       31109

[7438 rows x 3 columns]

In [24]:
daily_temp_df = pd.merge(daily_temp_df, all_stations_df, left_on='STNID', right_on='ID')
daily_temp_df = pd.merge(daily_temp_df, lat_longs, on=['Latitude','Longitude'])
daily_temp_df

,STNID,MONTH,DAY,VALUE_MIN,FLAG_MIN,VALUE_MAX,FLAG_MAX,ID,Latitude,Longitude,Elevation,State,Name,GSNFLAG,HCNFLAG,WMOID,FIPS_COUNTY
0,USC00010063,1,1,29.1,Q,49.6,Q,USC00010063,34.2553,-87.1814,249.3,AL,ADDISON,NaN,NaN,NaN,01133
1,USC00010063,2,1,30.3,Q,51.8,Q,USC00010063,34.2553,-87.1814,249.3,AL,ADDISON,NaN,NaN,NaN,01133
2,USC00010063,3,1,36.1,Q,58.1,Q,USC00010063,34.2553,-87.1814,249.3,AL,ADDISON,NaN,NaN,NaN,01133
3,USC00010063,4,1,44.0,Q,68.0,Q,USC00010063,34.2553,-87.1814,249.3,AL,ADDISON,NaN,NaN,NaN,01133
4,USC00010063,5,1,52.1,Q,74.9,Q,USC00010063,34.2553,-87.1814,249.3,AL,ADDISON,NaN,NaN,NaN,01133
5,USC00010063,6,1,61.0,Q,83.1,Q,USC00010063,34.2553,-87.1814,249.3,AL,ADDISON,NaN,NaN,NaN,01133
6,USC00010063,7,1,67.1,Q,87.2,Q,USC00010063,34.2553,-87.1814,249.3,AL,ADDISON,NaN,NaN,NaN,01133
7,USC00010063,8,1,68.2,Q,89.9,Q,USC00010063,34.2553,-87.1814,249.3,AL,ADDISON,NaN,NaN,NaN,01133
8,USC00010063,9,1,65.0,Q,87.6,Q,USC00010063,34.2553,-87.1814,249.3,AL,ADDISON,NaN,NaN,NaN,01133
9,USC00010063,10,1,54.0,Q,77.9,Q,USC00010063,34.2553,-87.1814,249.3,AL,ADDISON,NaN,NaN,NaN,01133
10,USC00010063,11,1,42.9,Q,68.6,Q,USC00010063,34.2553,-87.1814,249.3,AL,ADDISON,NaN,NaN,NaN,01133
11,USC00010063,12,1,36.0,Q,57.0,Q,USC00010063,34.2553,-87.1814,249.3,AL,ADDISON,NaN,NaN,NaN,01133
12,USC00010063,1,2,29.0,Q,49.6,Q,USC00010063,34.2553,-87.1814,249.3,AL,ADDISON,NaN,NaN,NaN,01133
13,USC00010063,2,2,30.5,Q,51.9,Q,USC00010063,34.2553,-87.1814,249.3,AL,ADDISON,NaN,NaN,NaN,01133
14,USC00010063,3,2,36.4,Q,58.5,Q,USC00010063,34.2553,-87.1814,249.3,AL,ADDISON,NaN,NaN,NaN,01133
15,USC00010063,4,2,44.2,Q,68.2,Q,USC00010063,34.2553,-87.1814,249.3,AL,ADDISON,NaN,NaN,NaN,01133
16,USC00010063,5,2,52.4,Q,75.2,Q,USC00010063,34.2553,-87.1814,249.3,AL,ADDISON,NaN,NaN,NaN,01133
17,USC00010063,6,2,61.3,Q,83.3,Q,USC00010063,34.2553,-87.1814,249.3,AL,ADDISON,NaN,NaN,NaN,01133
18,USC00010063,7,2,67.3,Q,87.3,Q,USC00010063,34.2553,-87.1814,249.3,AL,ADDISON,NaN,NaN,NaN,01133
19,USC00010063,8,2,68.2,Q,89.9,Q,USC00010063,34.2553,-87.1814,249.3,AL,ADDISON,NaN,NaN,NaN,01133
20,USC00010063,9,2,64.8,Q,87.3,Q,USC00010063,34.2553,-87.1814,249.3,AL,ADDISON,NaN,NaN,NaN,01133
21,USC00010063,10,2,53.5,Q,77.6,Q,USC00010063,34.2553,-87.1814,249.3,AL,ADDISON,NaN,NaN,NaN,01133
22,USC00010063,11,2,42.7,Q,68.3,Q,USC00010063,34.2553,-87.1814,249.3,AL,ADDISON,NaN,NaN,NaN,01133
23,USC00010063,12,2,35.7,Q,56.6,Q,USC00010063,34.2553,-87.1814,249.3,AL,ADDISON,NaN,NaN,NaN,01133
24,USC00010063,1,3,28.9,Q,49.6,Q,USC00010063,34.2553,-87.1814,249.3,AL,ADDISON,NaN,NaN,NaN,01133
25,USC00010063,2,3,30.6,Q,52.1,Q,USC00010063,34.2553,-87.1814,249.3,AL,ADDISON,NaN,NaN,NaN,01133
26,USC00010063,3,3,36.6,Q,58.8,Q,USC00010063,34.2553,-87.1814,249.3,AL,ADDISON,NaN,NaN,NaN,01133
27,USC00010063,4,3,44.5,Q,68.5,Q,USC00010063,34.2553,-87.1814,249.3,AL,ADDISON,NaN,NaN,NaN,01133
28,USC00010063,5,3,52.7,Q,75.5,Q,USC00010063,34.2553,-87.1814,249.3,AL,ADDISON,NaN,NaN,NaN,01133
29,USC00010063,6,3,61.5,Q,83.5,Q,USC00010063,34.2553,-87.1814,249.3,AL,ADDISON,NaN,NaN,NaN,01133
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2724474,USW00094996,1,29,14.9,Q,35.9,Q,USW00094996,40.6953,-96.8542,418.2,NE,LINCOLN 11 SW,NaN,NaN,NaN,31109
2724475,USW00094996,2,29,21.7,Q,44.8,Q,USW00094996,40.6953,-96.8542,418.2,NE,LINCOLN 11 SW,NaN,NaN,NaN,31109
2724476,USW00094996,3,29,32.4,Q,57.1,Q,USW00094996,40.6953,-96.8542,418.2,NE,LINCOLN 11 SW,NaN,NaN,NaN,31109
2724477,USW00094996,4,29,43.7,Q,67.3,Q,USW00094996,40.6953,-96.8542,418.2,NE,LINCOLN 11 SW,NaN,NaN,NaN,31109
2724478,USW00094996,5,29,55.3,Q,76.9,Q,USW00094996,40.6953,-96.8542,418.2,NE,LINCOLN 11 SW,NaN,NaN,NaN,31109
2724479,USW00094996,6,29,63.7,Q,85.1,Q,USW00094996,40.6953,-96.8542,418.2,NE,LINCOLN 11 SW,NaN,NaN,NaN,31109
2724480,USW00094996,7,29,65.7,Q,87.1,Q,USW00094996,40.6953,-96.8542,418.2,NE,LINCOLN 11 SW,NaN,NaN,NaN,31109
2724481,USW00094996,8,29,59.8,Q,83.3,Q,USW00094996,40.6953,-96.8542,418.2,NE,LINCOLN 11 SW,NaN,NaN,NaN,31109
2724482,USW00094996,9,29,48.0,Q,72.6,Q,USW00094996,40.6953,-96.8542,418.2,NE,LINCOLN 11 SW,NaN,NaN,NaN,31109
2724483,USW00094996,10,29,35.3,Q,59.2,Q,USW00094996,40.6953,-96.8542,418.2,NE,LINCOLN 11 SW,NaN,NaN,NaN,31109
2724484,USW00094996,11,29,22.2,Q,42.4,Q,USW00094996,40.6953,-96.8542,418.2,NE,LINCOLN 11 SW,NaN,NaN,NaN,31109
2724485,USW00094996,12,29,14.7,Q,34.5,Q,USW00094996,40.6953,-96.8542,418.2,NE,LINCOLN 11 SW,NaN,NaN,NaN,31109
2724486,USW00094996,1,30,15.0,Q,36.1,Q,USW00094996,40.6953,-96.8542,418.2,NE,LINCOLN 11 SW,NaN,NaN,NaN,31109
2724487,USW00094996,3,30,32.8,Q,57.4,Q,USW00094996,40.6953,-96.8542,418.2,NE,LINCOLN 11 SW,NaN,NaN,NaN,31109
2724488,USW00094996,4,30,44.1,Q,67.6,Q,USW00094996,40.6953,-96.8542,418.2,NE,LINCOLN 11 SW,NaN,NaN,NaN,31109
2724489,USW00094996,5,30,55.6,Q,77.2,Q,USW00094996,40.6953,-96.8542,418.2,NE,LINCOLN 11 SW,NaN,NaN,NaN,31109
2724490,USW00094996,6,30,63.9,Q,85.3,Q,USW00094996,40.6953,-96.8542,418.2,NE,LINCOLN 11 SW,NaN,NaN,NaN,31109
2724491,USW00094996,7,30,65.6,Q,87.0,Q,USW00094996,40.6953,-96.8542,418.2,NE,LINCOLN 11 SW,NaN,NaN,NaN,31109
2724492,USW00094996,8,30,59.5,Q,83.1,Q,USW00094996,40.6953,-96.8542,418.2,NE,LINCOLN 11 SW,NaN,NaN,NaN,31109
2724493,USW00094996,9,30,47.5,Q,72.2,Q,USW00094996,40.6953,-96.8542,418.2,NE,LINCOLN 11 SW,NaN,NaN,NaN,31109
2724494,USW00094996,10,30,34.9,Q,58.7,Q,USW00094996,40.6953,-96.8542,418.2,NE,LINCOLN 11 SW,NaN,NaN,NaN,31109
2724495,USW00094996,11,30,21.8,Q,42.0,Q,USW00094996,40.6953,-96.8542,418.2,NE,LINCOLN 11 SW,NaN,NaN,NaN,31109
2724496,USW00094996,12,30,14.6,Q,34.5,Q,USW00094996,40.6953,-96.8542,418.2,NE,LINCOLN 11 SW,NaN,NaN,NaN,31109
2724497,USW00094996,1,31,15.1,Q,36.2,Q,USW00094996,40.6953,-96.8542,418.2,NE,LINCOLN 11 SW,NaN,NaN,NaN,31109
2724498,USW00094996,3,31,33.1,Q,57.8,Q,USW00094996,40.6953,-96.8542,418.2,NE,LINCOLN 11 SW,NaN,NaN,NaN,31109
2724499,USW00094996,5,31,55.9,Q,77.5,Q,USW00094996,40.6953,-96.8542,418.2,NE,LINCOLN 11 SW,NaN,NaN,NaN,31109
2724500,USW00094996,7,31,65.5,Q,87.0,Q,USW00094996,40.6953,-96.8542,418.2,NE,LINCOLN 11 SW,NaN,NaN,NaN,31109
2724501,USW00094996,8,31,59.2,Q,82.9,Q,USW00094996,40.6953,-96.8542,418.2,NE,LINCOLN 11 SW,NaN,NaN,NaN,31109
2724502,USW00094996,10,31,34.5,Q,58.1,Q,USW00094996,40.6953,-96.8542,418.2,NE,LINCOLN 11 SW,NaN,NaN,NaN,31109
2724503,USW00094996,12,31,14.6,Q,34.4,Q,USW00094996,40.6953,-96.8542,418.2,NE,LINCOLN 11 SW,NaN,NaN,NaN,31109

In [51]:
daily_min_temp_by_county = daily_temp_df.groupby(['FIPS_COUNTY','MONTH','DAY'])['VALUE_MIN'].min()
daily_max_temp_by_county = daily_temp_df.groupby(['FIPS_COUNTY','MONTH','DAY'])['VALUE_MAX'].max()
lat_long_by_county = daily_temp_df.groupby(['FIPS_COUNTY'])[['Latitude','Longitude']].mean()
daily_temp_by_county = pd.merge(min_temp_by_county, max_temp_by_county, left_index=True, right_index=True)
daily_temp_by_county = pd.merge(daily_temp_by_county, lat_long_by_county, left_index=True, right_index=True)
daily_temp_by_county

                       VALUE_MIN  VALUE_MAX   Latitude  Longitude
FIPS_COUNTY MONTH DAY
01003       1     1         37.6       61.3  30.636125   -87.8109
                  2         37.5       61.3  30.636125   -87.8109
                  3         37.4       61.2  30.636125   -87.8109
                  4         37.3       61.2  30.636125   -87.8109
                  5         37.2       61.2  30.636125   -87.8109
...                          ...        ...        ...        ...
56045       12    27         7.4       35.1  43.927500  -104.5146
                  28         7.4       35.2  43.927500  -104.5146
                  29         7.4       35.3  43.927500  -104.5146
                  30         7.5       35.4  43.927500  -104.5146
                  31         7.5       35.5  43.927500  -104.5146

[1049322 rows x 4 columns]

In [75]:
precip_df = pd.read_fwf(f'{weather_dir}/ann-prcp-normal.txt', header=None)
precip_df.columns = ['STNID','VALUE']
precip_df['FLAG'] = precip_df['VALUE'].map(lambda x: x[-1])
precip_df['annual_precipitation'] = precip_df['VALUE'].map(lambda x: int(x[0:-1])/100)

precip_df = pd.merge(precip_df, all_stations_df, left_on='STNID', right_on='ID')
precip_df = pd.merge(precip_df, lat_longs, on=['Latitude','Longitude'])

precip_by_county = precip_df.groupby('FIPS_COUNTY')['annual_precipitation'].max()
#precip_by_county['13193']
#precip_df[precip_df['FIPS_COUNTY'] == '13193']
precip_df[precip_df['FIPS_COUNTY'] == '01003']

,STNID,VALUE,FLAG,annual_precipitation,ID,Latitude,Longitude,Elevation,State,Name,GSNFLAG,HCNFLAG,WMOID,FIPS_COUNTY
11,USC00010583,6890S,S,68.90,USC00010583,30.8839,-87.7853,82.6,AL,BAY MINETTE,NaN,NaN,NaN,01003
28,USC00012813,6787S,S,67.87,USC00012813,30.5467,-87.8808,7.0,AL,FAIRHOPE 2 NE,NaN,NaN,NaN,01003
60,USC00016988,6732R,R,67.32,USC00016988,30.5653,-87.7017,49.1,AL,ROBERTSDALE,NaN,NaN,NaN,01003

In [69]:
df = pd.DataFrame({
    'min_temp': daily_temp_by_county.groupby('FIPS_COUNTY')['VALUE_MIN'].min(), 
    'max_temp':daily_temp_by_county.groupby('FIPS_COUNTY')['VALUE_MAX'].max(),
    'latitude':daily_temp_by_county.groupby('FIPS_COUNTY')['Latitude'].mean(),
    'longitude':daily_temp_by_county.groupby('FIPS_COUNTY')['Longitude'].mean(),
    'annual_precipitation':precip_by_county
}).reset_index()
df.rename({'index':'FIPS_COUNTY'}, axis='columns', inplace=True)
df['annual_precipitation'].isna().sum()

46

In [53]:
avg_weekly_wage = pd.read_csv('avg_weekly_wage.csv', dtype={'FIPS_COUNTY':str})
avg_weekly_wage.head()

  FIPS_COUNTY              COUNTY_NAME  AVG_WEEKLY_WAGE
0       01001  Autauga County, Alabama              802
1       01003  Baldwin County, Alabama              717
2       01005  Barbour County, Alabama              727
3       01007     Bibb County, Alabama              785
4       01009   Blount County, Alabama              683

In [54]:
data_df = pd.merge(df, avg_weekly_wage, on='FIPS_COUNTY')
data_df

,FIPS_COUNTY,min_temp,max_temp,latitude,longitude,annual_precipitation,COUNTY_NAME,AVG_WEEKLY_WAGE
0,01003,36.8,91.2,30.636125,-87.810900,68.90,"Baldwin County, Alabama",717
1,01005,31.8,93.4,31.944433,-85.222967,50.14,"Barbour County, Alabama",727
2,01007,30.3,90.9,32.866100,-87.238300,57.23,"Bibb County, Alabama",785
3,01009,29.9,90.8,33.947800,-86.469200,55.41,"Blount County, Alabama",683
4,01011,32.9,90.6,32.014200,-85.746400,55.42,"Bullock County, Alabama",673
5,01013,33.1,90.6,31.790000,-86.608600,57.36,"Butler County, Alabama",659
6,01015,32.7,90.1,33.587200,-85.855600,49.67,"Calhoun County, Alabama",794
7,01017,29.1,90.9,32.888150,-85.311400,54.55,"Chambers County, Alabama",745
8,01019,27.7,90.5,34.150000,-85.684700,54.10,"Cherokee County, Alabama",658
9,01021,31.9,91.0,32.864200,-86.644800,57.88,"Chilton County, Alabama",741
10,01025,33.0,91.4,31.743675,-87.777225,60.18,"Clarke County, Alabama",789
11,01027,29.4,89.9,33.294200,-85.778900,58.15,"Clay County, Alabama",661
12,01029,29.3,89.0,33.648300,-85.600600,55.05,"Cleburne County, Alabama",757
13,01031,37.7,91.6,31.297500,-85.899700,54.31,"Coffee County, Alabama",655
14,01033,26.7,91.4,34.768633,-87.593033,57.26,"Colbert County, Alabama",854
15,01035,35.4,91.7,31.430300,-86.998750,61.02,"Conecuh County, Alabama",699
16,01037,33.7,89.7,32.871100,-86.175800,56.58,"Coosa County, Alabama",695
17,01039,31.9,92.2,31.219533,-86.409367,59.97,"Covington County, Alabama",693
18,01041,30.9,90.1,31.898500,-86.280850,55.72,"Crenshaw County, Alabama",709
19,01043,27.2,92.0,34.174720,-86.831440,59.13,"Cullman County, Alabama",739
20,01045,37.4,92.0,31.321400,-85.449700,53.97,"Dale County, Alabama",1069
21,01047,32.3,92.2,32.418550,-87.116650,53.67,"Dallas County, Alabama",771
22,01049,27.3,89.7,34.429080,-85.776780,55.97,"DeKalb County, Alabama",708
23,01051,34.1,90.8,32.628650,-86.063500,51.29,"Elmore County, Alabama",704
24,01053,35.1,91.9,31.131600,-87.148475,70.73,"Escambia County, Alabama",770
25,01055,30.5,91.0,34.021900,-85.987800,54.59,"Etowah County, Alabama",711
26,01057,27.6,92.1,33.797900,-87.834450,60.26,"Fayette County, Alabama",636
27,01059,28.0,90.0,34.481800,-87.721100,56.62,"Franklin County, Alabama",694
28,01061,35.0,92.0,31.038300,-85.870800,59.11,"Geneva County, Alabama",613
29,01063,32.7,92.2,32.835800,-88.135850,52.66,"Greene County, Alabama",647
...,...,...,...,...,...,...,...,...
2835,55129,-1.5,80.7,45.945150,-91.871400,31.00,"Washburn County, Wisconsin",695
2836,55131,7.0,82.1,43.295075,-88.227075,35.63,"Washington County, Wisconsin",897
2837,55133,9.9,82.4,43.052867,-88.310100,35.58,"Waukesha County, Wisconsin",1167
2838,55135,5.8,82.1,44.488750,-88.903750,33.49,"Waupaca County, Wisconsin",743
2839,55137,5.5,82.1,44.054300,-89.238450,33.56,"Waushara County, Wisconsin",673
2840,55139,9.7,81.8,44.002500,-88.557500,31.59,"Winnebago County, Wisconsin",1053
2841,55141,-1.0,83.6,44.512400,-90.052620,32.72,"Wood County, Wisconsin",897
2842,56001,8.6,84.7,41.637800,-105.704067,15.95,"Albany County, Wyoming",775
2843,56003,0.2,91.9,44.594586,-108.187071,10.59,"Big Horn County, Wyoming",778
2844,56005,0.4,90.1,44.333187,-105.590663,16.94,"Campbell County, Wyoming",1143
2845,56007,-2.1,87.6,41.775090,-106.858860,13.98,"Carbon County, Wyoming",1034
2846,56009,9.8,91.1,42.945575,-105.373775,15.58,"Converse County, Wyoming",1036
2847,56011,5.1,88.7,44.611143,-104.606314,19.20,"Crook County, Wyoming",811
2848,56013,1.8,91.4,43.031908,-108.650954,15.55,"Fremont County, Wyoming",794
2849,56015,10.0,91.5,42.043922,-104.350622,17.39,"Goshen County, Wyoming",726
2850,56017,-0.3,94.4,43.692625,-108.195275,14.25,"Hot Springs County, Wyoming",718
2851,56019,7.8,89.3,44.143675,-106.697425,13.45,"Johnson County, Wyoming",737
2852,56021,11.1,87.8,41.180343,-104.582114,18.73,"Laramie County, Wyoming",915
2853,56023,-3.0,85.3,42.177262,-110.679725,21.40,"Lincoln County, Wyoming",913
2854,56025,7.0,89.9,42.885433,-106.541983,13.01,"Natrona County, Wyoming",979
2855,56027,8.2,90.9,43.028775,-104.359925,16.60,"Niobrara County, Wyoming",699
2856,56029,1.7,87.2,44.606714,-109.461814,16.42,"Park County, Wyoming",810
2857,56031,6.0,90.3,42.228475,-104.889650,16.40,"Platte County, Wyoming",979
2858,56033,5.0,90.7,44.743138,-106.904575,27.26,"Sheridan County, Wyoming",812
2859,56035,-7.5,82.5,42.881617,-110.035967,18.76,"Sublette County, Wyoming",1135
2860,56037,6.0,89.3,41.531983,-108.972417,9.73,"Sweetwater County, Wyoming",1158
2861,56039,-7.5,83.8,43.953820,-110.629240,29.99,"Teton County, Wyoming",1016
2862,56041,9.6,83.6,41.301600,-110.599400,12.20,"Uinta County, Wyoming",805
2863,56043,-0.7,91.7,43.963100,-107.666575,13.57,"Washakie County, Wyoming",812
2864,56045,6.8,90.1,43.927500,-104.514600,19.57,"Weston County, Wyoming",788

In [79]:
data_df['annual_precipitation'] = data_df['annual_precipitation'].fillna(-1)
data_df.to_csv('data.csv')

In [59]:
data_df.head()

,FIPS_COUNTY,min_temp,max_temp,latitude,longitude,annual_precipitation,COUNTY_NAME,AVG_WEEKLY_WAGE
0,01003,36.8,91.2,30.636125,-87.810900,68.90,"Baldwin County, Alabama",717
1,01005,31.8,93.4,31.944433,-85.222967,50.14,"Barbour County, Alabama",727
2,01007,30.3,90.9,32.866100,-87.238300,57.23,"Bibb County, Alabama",785
3,01009,29.9,90.8,33.947800,-86.469200,55.41,"Blount County, Alabama",683
4,01011,32.9,90.6,32.014200,-85.746400,55.42,"Bullock County, Alabama",673